.end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 40px;
}
h5 {
    font-size: 32px;
}
.texto {
    font-size: 32px;
}
.texto1 {
    font-size: 32px;
}
.card1 {
    border: solid 1px blue;
    border-radius:unset;
}
.card2 {
    border: solid 1px green;
    border-radius:unset;
}
.card3 {
    border: solid 1px yellow;
    border-radius:unset;
}
.card4 {
    border: none;
    font-size: 50px;
}
.total {
    background-color: lightblue;
    color: blue;
}
.botonera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boton {
    background-color: #72be4e;
    color: white;
    width: 250px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}