* {
    font-family: 'Montserrat', sans-serif;
}
a:link { 
    color: black;
    text-decoration: black;
}
a:visited {
    color: black;
    text-decoration: black;
}
a:hover {
    color: black;
    text-decoration: black;
}
a:active {
    color: black;
    text-decoration: black;
}
h3 {
    color: #fff;
}
p {
    color: #fff;
}
.fondo-playa {
    background-image: url('./Imagenes/honolulu.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    
}
.fondo-gris {
    background-color: black;
    margin-top: 20px;
}
.Octubre {
    margin-bottom: 300px;
}
.formulario {
    padding: 0 20%;
}
.recuerda {
    font-size: 0.75rem;
    text-align: left;
}
.conoce {
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.pad {
    padding-top: 5%;
    padding-right: 5%;
    font-size: 22px;
    font-weight: bolder;
}
.tipo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 5%;
}
.botones {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 5%;
}